.sidebar {
  
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
  


.plastic-btn {
  background-image: url("/plastic-bottle.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50%;
  background-color:yellow ;
  margin-bottom: 10px;
}

.carton-btn {
  background-image: url("/carton.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50%;
  background-color:turquoise ;
  margin-bottom: 10px;
}
.solar-btn {
  background-image: url("/solar.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50%;
  background-color:salmon ;
  margin-bottom: 10px;
}
.organic-btn {
  background-image: url("/apple.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50%;
  background-color:orangered ;
  margin-bottom: 10px;
}
.clothes-btn {
  background-image: url("/tshirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50%;
  background-color:#E5E5E5 ;
  margin-bottom: 10px;
}

.bottles-btn {
  background-image: url("/wine.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50%;
  background-color:green ;
  margin-bottom: 10px;
}

